.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button1 {
    display: block;
    border-radius: 8px;
    background-color: white;
    border: none;
    color: cornflowerblue;
    padding: 10px 12px;
    text-align: center;
    font-size: 12px;
    transition-duration: 0.4s;
    align-self: center;
}

    .button1:hover {
        background-color: dodgerblue;
        color: white;
    }

.right-align,
.right-align input {
    float: right;
}

.left-align {
    text-align: left;
}

td {
    padding: 10px;
}

body {
    font-family: "adobe-clean", sans-serif;
    background-color: #fafafa;
}

.text1 {
    background-color: white;
    color: darkblue;
    border: 2px solid gray;
    border-radius: 3px;
    width: 250px; 
    margin-bottom: 10px;
}

.email-bar {
    display: flex;
}

    .email-bar .text1 {
        flex-grow: 1;
        margin-right: 10px; 
    }

* {
    box-sizing: border-box;
}


button:hover:before {
    content: "Send";
}

.src {
    font-size: 12px;
    padding-top: 20px;
    font-style: italic;
    text-align: left;
}

td {
    padding: 5px;
}

.right-align {
    text-align: right;
}
